.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 6px auto 0 auto;
  align-items: center;
  overflow: hidden;
  touch-action: none;
}

.voteWrapper {
  position: relative;
  min-height: 400px;
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
  justify-content: center;
}

.cardsWrapper {
  display: flex;
  height: 270px;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  z-index: 20;
}

.cardStack {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
  margin: 0 auto;
  transition: transform 0.2s ease, opacity 0.3s ease;
}

.card {
  position: absolute;
  height: auto;
  max-height: 260px;
  max-width: 212px;
  width: 100%;
  transition: transform 0.3s ease, opacity 0.3s ease;
  border: 1px solid #0f0e0c;
  border-bottom: 0;
  margin: 0;
  z-index: 4;
  touch-action: none;
}

@media (min-width: 300px) {
  .cardsWrapper {
    height: 286px;
  }

  .cardStack {
    max-width: 240px;
  }

  .card {
    max-height: 288px;
    max-width: 240px;
  }
}

.cardImageContainer {
  width: 100%;
  max-width: 300px;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.cardImage {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none;
}

.cardText {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #fef8e2;
  width: auto;
  min-height: 2.5em;
  max-height: 4em;
  padding: 3px;
  border: 1px solid #0f0e0c;
  border-left: 0;
  border-right: 0;
  box-sizing: content-box;
}

.cardTitle {
  font-size: 18px;
}

.cardUserWrap {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.cardUser {
  width: auto;
  background-color: #fce182;
}

.VoteButtons {
  min-width: 100px;
  width: 212px;
  height: 50px;
  max-width: 290px;
  gap: 16px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 6px auto;
}

.BadButton,
.RadButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fce182;
  border: 1px solid #0f0e0c;
  font-family: 'Joystix';
  box-sizing: border-box;
  box-shadow: 3px 3px 0 #0f0e0c;
  cursor: pointer;
  width: 100%;
  height: 48px;
  z-index: 20;
}

.BadButton svg,
.RadButton svg {
  width: 15px;
  color: #0f0e0c;
}

@media (min-width: 300px) {
  .VoteButtons {
    width: 240px;
    margin: 6px 0 0 0;
    align-self: center;
    left: initial;
    transform: translateY(0);
  }

  .BadButton svg,
  .RadButton svg {
    width: 20px;
  }
}

@media (min-width: 440px) {

  .cardsWrapper {
    height: 330px;
    align-items: end;
  }

  .cardStack {
    max-width: 278px;
  }

  .card {
    max-height: 370px;
    max-width: 278px;
  }

  .VoteButtons {
    width: 100%;
    max-width: 278px;
  }


}

@media (min-height: 617px) {

  .voteWrapper {
    height: 100%;
    width: 97%;
    margin: auto;
    align-self: center;
  }
}

@media (min-width: 768px) {

  .voteWrapper {
    height: 0;
  }

  .cardsWrapper {
    height: 326px;
    margin: 0 auto;
  }

  .cardStack {
    max-width: 312px;
  }

  .card {
    max-height: 398px;
    max-width: 312px;
  }

  .cardImageContainer {
    max-width: 312px !important;
    max-height: 500px;
  }

  .VoteButtons {
    max-width: initial;
    position: relative;
    display: flex;
    height: 0%;
    width: 100%;
    max-width: 500px;
    translate: 0 -230px;
  }

  .BadButton,
  .RadButton {
    height: 88px;
    width: 70px;
  }

  .BadButton svg,
  .RadButton svg {
    width: 28px;
  }
}



@media (min-width: 991px) {
  .VoteButtons {}


}

.endMessage {
  font-size: 20px;
  color: #0f0e0c;
  text-align: center;
  width: 50%;
  max-width: 310px;
  display: flex;
  margin: auto;
  align-items: center;
  transform: translateY(-30%);
}
