.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  overflow: hidden;
  touch-action: none;
}

.voteWrapper {
  position: relative;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.card {
  position: absolute;
  height: 200px;
  min-width: 200px;
  width: 100%;
  background-color: #fef8e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #0f0e0c;
  touch-action: none;
  user-select: none;
  z-index: 100;
}

.cardImageContainer {
  width: 100%;
  padding-top: 100%;
  /* 1:1 Aspect Ratio */
  position: relative;
  overflow: hidden;
}

.cardImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-drag: none;
  /* Prevent image dragging */
  -webkit-user-drag: none;
  /* Prevent image dragging in Safari */
  user-select: none;
  /* Prevent image selection */
  pointer-events: none;
  /* Prevent image click events */
}

.cardText {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #fef8e2;
  width: 100%;
  height: 3.3em;
  border: 1px solid #0f0e0c;
  left: -1px;
}

.cardTitle {
  font-size: 18px;
}

.cardUserWrap {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.cardUser {
  width: auto;
  background-color: #fce182;
}

.VoteButtons {
  width: 250px;
  gap: 16px;
  position: relative;
  transform: translateY(50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}

.BadButton,
.RadButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fce182;
  border: 1px solid #0f0e0c;
  font-family: 'Joystix';
  box-sizing: border-box;
  box-shadow: 3px 3px 0 #0f0e0c;
  cursor: pointer;
  width: 48px;
  height: 48px;
  transform: translateY(-50%);
}

.BadButton svg,
.RadButton svg {
  width: 18px;
}

@media (min-width: 0px) {
  .VoteButtons {
    width: 100%;
    height: 0;
    transform: initial;
    position: relative;
    top: -50%;
  }
}

@media (min-width: 390px) {
  .VoteButtons {
    width: 95%;
    transform: translateY(50%);
    position: relative;
  }
}

@media (min-width: 580px) {
  .VoteButtons {
    position: relative;
    display: flex;
    width: 94%;
    max-width: 498px;
    gap: 0;
  }

  .BadButton,
  .RadButton {
    width: 96px;
    height: 88px;
    gap: 3px;
  }

  .BadButton svg,
  .RadButton svg {
    width: initial;
  }
}



@media (min-width: 991px) {
.VoteButtons {
  width: 100%;

  max-width: 600px;
}

  .BadButton,
  .RadButton {
    width: 126px;
    height: 88px;
  }
}

.endMessage {
  font-size: 20px;
  color: #0f0e0c;
  text-align: center;
  width: 66%;
  max-width: 450px;
  display: flex;
  margin: auto;
  transform: translateY(-50%);
}