body {
  font-size: .5vw;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

.mainContainer {
  background: linear-gradient(
      0deg,
      var(--Cream, #fef8e2) 0%,
      var(--Cream, #fef8e2) 100%
    ),
    var(--Cream, #fef8e2);
  display: flex;
  height: 100dvh;
  width: 100vw;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.windowWrapper {
  height: 100%; 
  margin: auto 0;
  display: flex;
  position: relative;
}

@media (max-width: 640px) {

}
