.startButton {
  background-color: var(--Yellow, #fce184);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  border: 1px solid #0f0e0c;
  border-left: 0;
  gap: 6px;
  min-width: 4em;
  height: 40px;
  color: #0f0e0c;
  z-index: 100;
  cursor: pointer;
}

.startButton:hover {
  background-color: var(--Black, #0f0e0c);
}

.startButton:hover .buttonText {
  color: #fce184;
}

.startButton:hover .dot {
  stroke: #fce184;
  border: 1px solid #fce184;
}

.startButton:hover .dotFilled {
  fill: #fce184;
  background-color: #fce184;
}

.buttonText {
  color: var(--Black, #0f0e0c);
  text-align: center;
  display: none;
  font: 400 13px Joystix, sans-serif;
}

.dotGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 3.5px;
}

@media (min-width: 375px) {
  .buttonText {
    display: flex;
  }
  
  .dotGroup {
  margin: auto;
  }
}

.dot {
  width: 17px;
  height: .5px;
  stroke-width: 1px;
  stroke: var(--Black, #0f0e0c);
  border: 1px solid #0f0e0c;
  box-sizing: border-box;
}

.dotFilled {
  composes: dot;
  fill: var(--Black, #0f0e0c);
  background-color: #0f0e0c;
}


@media (min-width: 500px) {
  .startButton {
    height: 40px;
  }
}