.container {
    background-color: #fce184;
    color: var(--black, #0f0e0c);
    font-family: Joystix, sans-serif;
    width: stretch;
    height: stretch;
    padding: 6px;
    margin: auto;
    text-align: center;
}

.helpWrapper {
    display: flex;
    flex-direction: column;
    width: stretch;
    object-fit: cover;
    height: 100%;
    gap: 6px;
    padding: 6px;
    background-color: #fef8e2;
    border: 1px solid #0f0e0c;
}