.container {
    color: var(--black, #0f0e0c);
    font-family: Joystix, sans-serif;
    width: stretch;
    height: 100%;
    padding: 0;
    margin: auto;
    text-align: center;
}

.myStudioWrapper {
    display: flex;
    flex-direction: column;
    width: stretch;
    object-fit: cover;
    height: 100%;
    gap: 6px;
    padding: 6px;
    background-color: var(--Cream, #fef8e2);
    border: 1px solid #0f0e0c;
}

@media (max-width: 990px) {}
.myStudioWrapper {
    border-bottom: 0;
}

@media (min-width: 991px) {
    .myStudioWrapper {
        border-bottom: 1px solid #0f0e0c;
        border-left: 0;
    }
}