.container {
    background-color: #fce184;
    color: var(--black, #0f0e0c);
    font-family: Joystix, sans-serif;
    width: stretch;
    height: 100%;
    padding: 0;
    margin: auto;
    text-align: center;
    overflow-y: scroll;
}

.votingWrapper {
    display: flex;
    flex-direction: column;
    width: stretch;
    object-fit: cover;
    height: 100%;
    gap: 6px;
    padding: 6px;
    background-color: #fef8e2;

}

.votingTopThree {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 3px;
}

.votingRemainder {
    display: flex;
    flex-direction: column;
}

.votingTopThree div {
    margin: auto;
    width: 33%;
    display: flex;
    align-items: center;
}

.firstPlace {
    filter: drop-shadow(0px 0px 8px #fce184);
    box-shadow: 2px 2px 0 0 #0f0e0c;
    animation: glow 2s infinite;
    color: var(--Cream, #fef8e2);
    text-shadow: 0 0 5px #fce184;
    border: 1px solid #0f0e0c;
    width: 66%;
    max-width: 300px;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #0f0e0c;
}

.firstPlace img {
    max-width: 100%;
}

.first {
    text-align: center;
    margin: auto;
    font-size: 2em;
    width: 100%;
    display: flex;
    
}

.first span {
    margin: 0;
    padding: 0;
}

.secondThird {
    display: flex;
    flex-direction: row;
    position: relative;
    align-content: space-evenly;
    width: auto;
    gap: 6px;
}

.secondThird div {
    background-color: #0f0e0c;
    color: var(--Cream, #fef8e2);
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 0 0 #0f0e0c;
}

.secondThird div img {
    width: 100%;
    height: auto;
    padding: 1px;
}

.second,
.third {
    width: 10%;
    line-height: normal;
}

@keyframes glow {
    0% {
        filter: drop-shadow(0px 0px 1px #fce184);
        text-shadow: 0 0 1px #fef8e2;
    }

    50% {
        filter: drop-shadow(0px 0px 12px #fce184);
        text-shadow: 0 0 5px #fef8e2;
    }

    100% {
        filter: drop-shadow(0px 0px 2px #fce184);
        text-shadow: 0 0 1px #fef8e2;
    }
}

.votingRemainder {
    display: flex;
    flex-direction: row;
    background-color: #0f0e0c;
    border: 1px solid #0f0e0c;
    gap: 1px;
}

.votingRemainder div {
    display: flex;
    flex-direction: column;
    background-color: #0f0e0c;
    width: 100%;
    gap: 1px;
}

.remainderLeft div,
.remainderRight div {
    background-color: #fce184;

    text-align: left;
    padding: 3px;
}

@media (min-width: 375px) {
    .votingTopThree {
        flex-direction: row;
    }

    .secondThird {
        flex-direction: column;
    }
    
}