.mainContainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin: auto;
  align-items: center;
  flex-wrap: nowrap;
}

.topMenu {
margin: auto;
display: flex;
flex-direction: row;
position: absolute;
left: 50%;
top: 12px;
transform: translateX(-50%);
}

.topLogo {
  display: flex;
  position: absolute;
  right: 12px;
  width: 32px;
  height: 32px;
}

@media (min-width:600px) {
  .mainContainer {
  }
}
