.mainContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 750px;
  height: 100%;
  top: 3px;
  margin: auto;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.topLogo {
  display: flex;
  position: fixed;
  width: 32px;
  height: 32px;
  top: 10.5px;
  margin: auto;
  margin-left: 6px;
  margin-right: 0;
}

.topBar {
  display: flex;
  flex-direction: row;
  margin: auto;
  position: relative;
}

.topMenu {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
}

@media (min-width: 420px) {

  .mainContainer {
  justify-content:end;
  }

  .topLogo {
    position: relative;
    top: initial;
  }

  .topBar {
    display: flex;
    flex-direction: row;
    margin: auto;
    position: relative;
  }
}