.creatorContainer {
    display: flex;
    min-width: 240px;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 340px) {
    .creatorContainer {
    margin: 0 auto;
    }
}

.toolbarTop {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
}

.gridToggle {
    align-self: stretch;
    display: flex;
    align-items: center;
    gap: 12px;
    color: #0f0e0c;
    text-align: center;
    font: 400 10px/1 Joystix, sans-serif;
}

.undoRedoWrap {
    display: flex;
    gap: 6px;
}

.undoRedoBtn {
    cursor: pointer;
}

.icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 32px;
    align-self: stretch;
    margin: auto 0;
}

.smallIcon {
    width: 24px;
}

.bucketIcon {
    width: 24px;
}

.canvasContainer {
    display: flex;
    width: 100%;
    gap: 3px;
}

.canvases {
    display: flex;
    height: auto;
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    border: 1px solid #0f0e0c;
    position: relative;
}

.drawingCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.gridCanvas, .drawingCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: none;
}

.gridCanvas.hidden {
    display: none;
}

.gridCanvas.visible {
    display: block;
    pointer-events: none;
}

.gridHighlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1100;
    pointer-events: none;
}

.paletteContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 26px;
    margin: 0 auto;
}

.bucketButton {
    background: none;
    border: none;
    padding: 0;
    margin: auto;
    margin-bottom: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    transition: all 0.3s ease;
}



.colorPalette {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 26px;
    align-items: center;
    justify-items: center;
    margin-top: 1px;
}

.colorSwatch {
    border: 1px solid #0f0e0c;
    display: flex;
    min-height: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: .15s ease;
}

.colorSwatch.active {
    width: 20px;
    min-height: 20px;
    height: 20px !important;
    margin: 4px;
}

.cream {
    background-color: #fef8e2;
    margin: 0;
    margin-top: -1px;
    padding: 0;
}

.yellow {
    background-color: #fce184;
    margin: 0;
    margin-top: -1px;
    padding: 0;
}

.black {
    background-color: #0f0e0c;
    padding: 0;
    margin-top: -1px;
}

.actionBar {
    display: flex;
    margin-top: 6px;
    width: 100%;
    align-items: start;
    color: #0f0e0c;
    white-space: nowrap;
    justify-content: space-between;
    font: 12px Joystix, sans-serif;
    gap: 3px;
}

.actionGroup {
    display: flex;
    align-items: center;
    gap: 3px;
}

.actionButton {
    align-items: center;
    border: 1px solid #0f0e0c;
    display: flex;
    gap: 6px;
    padding: 8px;
    font-size: 12px;
}

.clearSaveButtons {
    background: #fef8e2;
    font-family: 'Joystix';
    cursor: pointer;
}

.submitButton {
    background: #fce184;
    font-family: 'Joystix';
    display: flex;
}

@media (max-width: 350px) {
    .creatorContainer {
        scale: .9;
    }
}

@media (min-width: 991px) {
    .creatorContainer {
        scale: 1.05;
    }
}