.footer {
  background-color: var(--Cream, #fef8e2);
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: flex-end;
  padding: auto auto 2px auto;
  user-select: none;
}

.footerContent {
  display: flex;
  position: relative;
  padding: 0;
  bottom: 0;
  width: 95%;
  flex-direction: column;
  margin: 0 auto;
}

.footerLogo {
  aspect-ratio: 7.14;
  object-fit: contain;
  width: 215px;
  max-width: 50%;
  margin: 0 auto;
  display: none;
}

.footerText {
  color: #000;
  text-align: center;
  font: 8px/122.5% Joystix, -apple-system, Roboto, Helvetica, sans-serif;
  padding: 0;
  margin: 0.5px auto;
}


@media (min-height: 675px) { 
  .footerText {
    font-size: 9px;
  }
}


/* landscape media queries */

@media (min-height: 790px) {

.footerLogo {
  display: flex;
}
}

@media (min-width: 550px) {

  .footerLogo {
    display: flex;
    height: 20px;
  }
  }