.container {
  background-color: #fef8e2;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  overflow: hidden;
  margin: 0;
  justify-content: center;
}

.containerPaletteWrap {
  display: flex;
  width: 95%;
  height: 100%;
  flex-direction: column;
}

.tabContainer {
  display: flex;
  margin: 0 auto;
  min-width: 140px;
  max-width: 100%;
  position: relative;
  color: #0f0e0c;
  font: 400 12px/1 Joystix, sans-serif;
}

.tabWrapper {
  background-color: #fef8e2;
  box-shadow: 2px 2px 0 -2px #0f0e0c;
  align-self: stretch;
  display: flex;
  min-width: 140px;
  width: 318px;
  align-items: center;
  gap: 4px;
  margin: 0;
  padding: 3px;
  border: 1px solid #0f0e0c;
}

@media (min-width: 991px) {

  .container {
    margin: 12px;
  }

  .tabContainer {
    margin: 0 auto;
  }
  .tabWrapper {
  }
}

.tab {
  align-self: stretch;
  height: 40px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 1px solid #0f0e0c;
  background-color: #fef8e2;
  font-family: 'Joystix';
  cursor: pointer;
}

.activeTab {
  background-color: #fce184;
}