.container {
  box-shadow: 4px 4px 0px 0px #0f0e0c;
  box-sizing: border-box;
  background-color: var(--Yellow, #fce184);
  display: flex;
  position: relative;
  width: stretch;
  min-height: 80%;
  max-height: 100%;
  flex-direction: column;
  margin: auto 6px;
  margin-bottom: 2%;
  margin-right: 9px;
  overflow: hidden;
  border: 1px solid rgba(15, 14, 12, 1);
}

.header {
  justify-content: center;
  align-content: center;
  border-color: rgba(15, 14, 12, 1);
  background-color: var(--Cream, #fef8e2);
  display: flex;
  flex-direction: row;
  gap: 3px;
  padding: 3px;
  max-height: 32px;
}

.icon,
.date,
.userId {
  align-content: center;
  font-size: 1em;
}

.header button {
  background-color: var(--Yellow, #fce184);
  display: flex;
  gap: 8px;
  min-width: 32px;
  padding: 3px;
  border: 1px solid rgba(15, 14, 12, 1);
  border-bottom: 0;
  position: relative;
  align-items: center;
  cursor: pointer;
}

.header button::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(15, 14, 12, 1);
}

.date,
.userId {
  display: none;
}


.mainContent {
  border-top: 1px solid rgba(15, 14, 12, 1);
}

@media (max-width: 991px) {
  .header {
    max-width: 100%;
  }


}

.iconContainer {
  align-items: center;
  background-color: var(--Yellow, #fce184);
  align-self: center;
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.icon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 12px;
  fill: var(--Black, #0f0e0c);
}

.dateContainer {
  display: flex;
  flex-direction: row;
  gap: 3px;
  font-size: .75em;
  color: var(--Black, #0f0e0c);
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  margin: auto;
}


@media (max-width: 991px) {

  .dateContainer {
    white-space: initial;
  }
}

.date {
  text-shadow: 0px 0px 25.2px rgba(252, 225, 132, 0.62);
  font-family: Joystix, sans-serif;
  font-size: 12px;
}

.dateIcon {
  aspect-ratio: 1.28;
  object-fit: auto;
  object-position: center;
  width: 9px;
  fill: var(--Black, #0f0e0c);
  margin: auto 0;
}

.divider {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: auto 0;
  gap: 3px;
}

.dividerLine {
  background-color: var(--Black, #0f0e0c);
  height: 1px;
}

.studioName {
  color: var(--Black, #0f0e0c);
  text-align: center;
  text-shadow: 0px 0px 25.2px rgba(252, 225, 132, 0.62);
  margin: auto 0;
  text-wrap: wrap;
  width: auto;
  font: 400 12px Joystix, -apple-system, Roboto, Helvetica, sans-serif;
}


@media (max-width: 991px) {}

.userContainer {
  display: flex;
  gap: 16px;
  font-size: 9pt;
  color: var(--Black, #0f0e0c);
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  margin: auto;
}

@media (max-width: 991px) {
  .userContainer {
    white-space: initial;
  }
}

.userId {
  text-shadow: 0px 0px 25.2px rgb(252, 224, 132);
  font: 400 12px Joystix, -apple-system, Roboto, Helvetica, sans-serif;
}

.userIcon {
  aspect-ratio: 0.78;
  object-fit: auto;
  object-position: center;
  width: 7px;
  fill: var(--Black, #0f0e0c);
  margin: auto 0;
}

.mainContent {
  background-color: var(--Yellow, #fce184);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3px;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .mainContent {
    max-width: 100%;
  }
}

.contentWrapper {

  background: var(--Cream, #fef8e2);
  padding: 3px;
  border: 1px solid rgba(15, 14, 12, 1);
  display: flex;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .contentWrapper {
    max-width: 100%;
  }
}

.contentContainer {
  gap: 0;
  display: flex;
  width: 100%;
}

@media (max-width: 991px) {
  .contentContainer {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

@media (min-width: 991px) {
  .container {
    height: 81vh;
    max-height: 900px;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-left: 0px;
}


@media (max-width: 991px) {
  .sidebar {
    width: 100%;
  }
}

.menu {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  background: var(--Cream, #fef8e2);
  align-content: space-between;
}

.sidebarTop {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sidebarTop button {
  width: 100%;
}

@media (min-width: 320px) {
  .sidebarTop {
    flex-direction: row;
  }
}

@media (min-width: 991px) {
  .sidebarTop {
    flex-direction: column;

  }
}

.menu,
.menuBottom {
  justify-content: flex-start;
  align-content: flex-start;
  align-self: stretch;
  display: flex;
  flex-grow: 1;
  color: var(--Black, #0f0e0c);
  font-weight: 400;
  width: 100%;
}

.menuBottom {
  flex-flow: row;
  width: 100%;
}

.menuBottom button {
  width: 50%;
  text-align: center;
  justify-content: center;
}

@media (min-width: 350px) {}

.menu button,
.menuBottom button {
  background-color: var(--Yellow, #fce184);
  display: flex;
  gap: -1px;
  font-size: small;
  border: 1px solid #0f0e0c;
  border-bottom: 1px solid #0f0e0c;
  margin: auto;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.menu button {
  margin-bottom: -1px;
}

.menuBottom button {
  margin-right: -1px;
}





.menuItem {
  display: flex;
  text-shadow: 0px 0px 24px rgba(252, 225, 132, 0.62);
  font-family: Joystix, sans-serif;
  text-align: left;
  white-space: nowrap;
  line-height: 1.5;
  margin: auto;
  align-items: center;
  text-wrap: nowrap;
}

.menuBottomLg {
  flex-flow: column;
  display: none;
}

@media (min-width: 991px) {
  .menuItem {
    display: flex;
    margin: auto 0;
    width: 8em;
    align-items: center;
  }

  .menuBottom {
    display: none;
  }


  .menuBottomLg {
    flex-flow: column;
    display: flex;
    position: absolute;
    bottom: 1px;
  }
}

@media (max-width: 991px) {
  .menuItem {
    white-space: initial;
  }
}

.mainArea {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: stretch;
  height: 100%;
  margin: auto;
}

.contentArea {
  background-color: var(--Cream, #fef8e2);
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  font-family: 'Joystix', sans-serif;
  overflow: auto;
}


@media (min-width: 768px) {
  .container {
    max-width: 750px;
    margin: auto;
    font-size: .75em;
  }
}

@media (min-width: 466px) {

  .date,
  .userId {
    display: inline;
  }
}