.navigationBar {
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 0 4px 0 #fce184;
}

.iconGroup {
  display: flex;
  gap: 3px;
  margin: auto 0;
  padding: 3px;
  align-items: center;
  background-color: #fef8e2;
  border: 1px solid #0f0e0c;
}

.iconGroup div:nth-child(1) {
background-color: #fce184;
}

.iconGroup div:nth-child(6) {
  display: none;
}

.iconGroup div:nth-child(7) {
  display: none;
}

.icon {
  margin: auto;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #fef8e2;
}

.navigationBar svg {
  width: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
}


.iconGroup div {
  padding: 3px;
  background-color: #fef8e2;
  border: 1px solid #0f0e0c;
  display: flex;
  height: 28px;
}

@media (min-width: 500px) {
  .navigationBar svg {
    width: 24px;
  }

  .iconGroup div {

  height: 32px;
  }

  .iconGroup div:nth-child(6) {
    display: flex;
  }
  
  .iconGroup div:nth-child(7) {
    display: flex;
  }

}